/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    // Used by nf-test cases that pull small inputs from the nf-core test-datasets repo.
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
