/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:

        bin/fetch_testdata.sh
        nextflow run . -profile test,docker --outdir results

    Test data (real, published, not simulated; fetched by bin/fetch_testdata.sh):

    HiFi path
      Reads     100 PacBio HiFi CCS reads from Deilephila porcellus (elephant hawk-moth),
                shipped with MitoHiFi as tests/ilDeiPorc1.reads.100.fa
                https://github.com/marcelauliano/MitoHiFi/blob/master/tests/ilDeiPorc1.reads.100.fa
      Reference GenBank MW539688.1, Theretra latreillii lucasii mitochondrion, complete
                genome. Same family (Sphingidae) as the sample. Shipped with MitoHiFi as
                tests/MW539688.1.fasta and tests/MW539688.1.gb
      Genetic code 5 (invertebrate mitochondrial)
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus:   4,
        memory: '8.GB',
        time:   '1.h'
    ]
}

params {
    input = "${projectDir}/testdata/samplesheet_test.csv"
}
